
.wrapper{
    font-family: 'Montserrat', sans-serif;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 15px;
    min-height: 100vh;
}

.container {
    width: 1030px;
    margin: 0 auto;
}

/****HEADER****/

.contacts-box{
    display: flex;
    justify-content: space-between;
}

.logo:hover .logo-title{
    color: #F26522;
}

.logo-box{
    display: flex;
}

.logo:hover .logo-img{
    content: url("../img/logo-orange.png");
}

.logo-title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 29px;
    line-height: 24px;
    margin-left: 4px;
}

.logo-title-small{
    font-size: 18px;
    line-height: 14px;
}

.contacts-links{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 18px;
    line-height: 18px;
}

.contacts-links>a{
    display: flex;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 18px;
}

.contacts-links a:hover {
    color: #F26522;
}

.contacts-links a:first-child {
    margin-bottom: 19px;
}

/****MAIN****/

.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 17px;
    column-gap: 65px;
    margin-top: 17px;
}

.card-link{
    display: flex;
    flex-direction: column;
}

.card-box{
    grid-column: span 1;
    position: relative;
    height: 220px;
    overflow: hidden;
}

.price{
    position: absolute;
    top: 100%;
    background: #F26522;
    transition: top 0.5s, transform 0.5s;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    padding: 7px 15px 12px;
    box-sizing: border-box;
}

.card-details{
    font-size: 14px;
    line-height: 14px;
    align-self: flex-end;
}

.card-details::after{
    content: url("../img/arrow.svg");
    margin-left: 16px;
}

.card-price{
    display: flex;
    flex-direction: column;
}

.card-price p:first-child{
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 7px;
}

.card-link:hover .price {
    top: 165px;
    width: 100%;
}

.card-link:hover .card-text{
    color: #F26522;
}

.card-text{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 18px;
    margin: 20px auto;
}

/****FOOTER****/

.copyright{
    display: grid;
    justify-content: center;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 12px;
    margin: 30px;
}