.wrapper {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
}

.slow *{
    transition: all 0.5s linear;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.title{
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
}

.fw300{
    font-weight: 300;
}

.fw400{
    font-weight: 400;
}

.section-title{
    color: #4E4E4E;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    padding-top: 90px;
    padding-bottom: 100px;
}

.title-container{
    display: block;
    position: relative;

}

.title-container::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 1px;
    background: #18CFAB;
    transform: translate(-60%, 150px);
}
.title-container::after{
    content: '';
    position: absolute;
    width: 80px;
    height: 1px;
    background: #18CFAB;
    transform: translate(-45%, -75px);
}

.color-text{
    color: #18CFAB;
    font-weight: bold;
}

.background{
    background-size: cover;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
}

.creative-block.background{
    background-attachment: fixed;
}
/***********BLOCK #1***********/


.creative-block{
    background-image: url("../img/Sections background/section-1(header).jpg");
}

.navigation{
    display: flex;
    justify-content: space-between;
    background: #5E5D5899;
    padding: 0 370px;
    height: 120px;
}

.logo{
    display: flex;
}

.navigation-logo{
    display: flex;
    position: relative;
}

.navigation-logo>p{
    display: flex;
    font-size: 32px;
    line-height: 48px;
    align-items: center;
}

.navigation-emblem {
    display: flex;
    align-items: center
}

.navigation-emblem>p{
    display: flex;
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;
    position: absolute;
    top: 47px;
    left: 13px;
}

.nav-logo-text{
    margin-left: 6px;
}

.navigation-menu{
    display: flex;
}

.navigation-item{
    display: flex;
}

.navigation-link{
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    padding: 49px 10px;
}

.navigation-link:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
}

.navigation-icon:hover {
    content: url("../svg/Search color.png");
    height: 20px;
}

.creative-text{
    padding-top: 265px;
}
.creative-text>h2{
    font-size: 78px;
    padding: 22px;
}
.creative-title{
    font-size: 35px;
}

.subtitle{
    color: #D4D4D4;
    font-size: 40px;
    padding-bottom: 130px;
}

.button{
    display: flex;
    justify-content: center;
    padding-bottom: 240px;
}

.button a:nth-child(2n){
    margin-left: 26px;
    background: #00CBF6;
}

.link{
    display: block;
    background: #18CFAB;
    font-size: 15px;
    line-height: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 170px;
    border-radius: 4px;
}

.shadow{
    box-shadow: 0 -5px #FFFFFF;
}

/***********BLOCK #2***********/

.advantages{
  display: flex;
    width: 100%;
}

.advantages-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    background: #18CFAB;
    border-top: 10px solid #FFFFFF;
}

.advantages-card>svg{
    margin-top: 95px;
}

.advantages-card>p{
    margin-top: 58px;
    margin-bottom: 100px;
}


.advantages-card:nth-child(2n+1) {
    background: #1C2A33;
}
.advantages-card:nth-child(2n+1)>p{
    color: #18CFAB;
    margin-top: 48px;
}

/******************BLOCK 3*************/

.services{

}

.serves-title{

}

.services-tabs{
    display: flex;
    margin-bottom: 28px;
    box-sizing: border-box;
}

.services-tabs-title{
    display: flex;
    justify-content: center;
    width: calc(100%/6);
    padding-top: 15px;
    padding-bottom: 15px;
        background: #F8FCFE;
    border: 1px solid #EDEFEF;
    position: relative;
}

.services-tabs-title:hover{
    border: 2px solid #18CFAB;
    /**************************/
}

.services-tabs-content{
}

.services-content-item{
    display: none;
}

.services-content-item>img{
    grid-column: span 1;
    margin-bottom: 90px;
}

.services-content-item>p{
    text-align: left;
    grid-column: span 5;
}


/***************** script #1 ************/
.visible{
    display: grid;
    column-gap: 15px;
    grid-template-columns: repeat(6, 1fr);
}

.services-tabs-title.active {
    background: #18CFAB;
    color: #FFFFFF;
}

.services-tabs-title.active::after {
    content: '';
    position: absolute;
    right: 81px;
    top: 46px;
    border: 10px solid transparent;
    border-top: 10px solid #18CFAB;
}

/***********BLOCK 4**********/

.purchase{
    background-image: url("../img/Sections background/section-2.jpg");
}

.purchase>h3{
    padding-top: 127px;
    margin-bottom: 13px;
    font-size: 40px;
    line-height: 40px;
}

.purchase>p{
    color: #D8D8D8;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 67px;
}

.purchase>div{
    padding-bottom: 128px;
}

/***********BLOCK 5**********/

.work{
    background: #E9EDEF;
    padding-bottom: 100px;
}

.work-tabs{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.work-tabs-title{
    display: flex;
    padding: 15px;
    border: 1px solid #DADADA;
    cursor: pointer;
}

.work-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0;
    padding-bottom: 70px;

}


.work-tabs-title.active{
    border: 2px solid #18CFAB;
}

.load{
    display: flex;
    align-items: center;
    justify-content: center;
}

.load>svg{
    margin-right: 15px;
}

.button-load{
    display: flex;
    justify-content: center;
}

/***********BLOCK 6**********/
.news{
    padding-bottom: 125px;
}


.news-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 35px;
    grid-row-gap: 45px;

}

.news-card:hover .data{
    background: #18CFAB;
}

.news-card:hover h3{
    color: #18CFAB;
    transform: translateX(20px);
}



.news-card{
 position: relative;
}

.news-img{
    width: 100%;
}



.news-title{
    display: flex;
    font-size: 18px;
    line-height: 20px;
    color: #717171;
    margin-top: 10px;

    transform: translateX(15px);
}

.news-comment{
    display: flex;
    width: 70%;
    justify-content: space-between;
    position: relative;
    color: #777777;
    font-size: 14px;
    line-height: 40px;

    transform: translateX(15px);
}
.news-comment::after{
    content: '';
    position: absolute;
    display: flex;
    width: 1px;
    height: 14px;
    order: 1;
    background: #777777;

    transform: translate(85px, 90%);
}


.data{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70px;
    height: 70px;
    color: #FFFFFF;
    background: #203E38;
    position: absolute;
    top: 0;
    left: 194px;
}


.invisible{
    display: none;
}

.white{
    color: #FFFFFF;
}

.people{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/Sections background/section-3.jpg");
    padding-bottom: 95px;
}

.people>h3{
    color: #18CFAB;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.people-info {
    color: #BBBBBB;
    font-size: 16px;
    line-height: 27px;
}

.people-text{
    color: #BBBBBB;
    font-size: 16px;
    line-height: 30px;
    padding: 35px;
}

/*********************************************/
.work-card{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 205px;
    overflow: hidden;
}
.work-card:hover .work-item{
        top: 0;
}

.work-item{
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #E9EDEF;
    border-top: 3px solid #18CFAB;

}

.work-icons{
    display: flex;
    justify-content: center;
    margin-top: 45px;
}



.work-item>p{
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
    margin-bottom: 50px;
}

.card-title{
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    margin-top: 25px;

}




.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #18CFAB;
    border-radius: 50%;
}

.icon:first-child{
    margin-right: 5px;
}


.icon:hover svg path{
    fill: #FFFFFF;
}

.icon:hover{
    background: #18CFAB;
}

.icon:hover .icon-square{
    background: #FFFFFF;
}

.icon-square{
    width: 12px;
    height: 11px;
    background: #18CFAB;
}


.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.clients-selectors{
    display: flex;
    width: 450px;
    justify-content: space-evenly;
}

.gallery-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(31, 218, 181, 0.2);
}

.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #BBBBBB;
    background:transparent;
}

.arrow:hover{
    background: #18CFAB;
    border: 1px solid transparent;
}

.arrow:hover svg path{
    fill: #FFFFFF;
}

.footer{
    display: flex;
    justify-content: center;
    position: relative;
    color: #AEAEAE;
    font-size: 14px;
    line-height: 26px;
    padding: 50px;
    background: #22353F;
}

.footer>p>span{
    color: #18CFAB;
}

/******************************************************/

.clients-bigpics-container {
    margin: 33px auto 0;
    width: 145px;
    height: 145px;
    border: 10px solid #1FDAB532;
    border-radius: 50%;
    overflow: hidden;
}

.clients-bigpics {
    width: 600px;
    text-align: left;
    padding: 4px;
    transition: transform 0.3s ease-in;
}

.clients-bigpics-li {
    display: inline-block;
    margin-left: -4px;
}

.clients-bigpics-pic {
    dispclients-bigpicslay: block;
    object-fit: cover;
    height: 150px;
    width: 150px;
}


.clients-smallpic {
    width: 72px;
    height: 72px;
    border: 5px solid #1FDAB532;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.active-slide {
    transition: transform 0.3s ease-in;
    transform: translateY(-12px);
}




















