
.wrapper{
  width: 100%;
}

.none {
  display: none;
}

//header
.header {
  &__wrapper {

  }

  &__button {
    display: flex;
    justify-content: flex-end;
    margin: 23px 0;

    position: relative;
  }


  &__nav {
    width: 180px;
    @include flex-column;
    position: absolute;
    top: 59px;
    right: 0;
  }

  &__nav--inactive {
    display: none;
  }

  &__nav--active {
    display: flex;
  }

  &__nav-item {
    background: $background-nav;
  }

  &__nav-item:active{
    background: #E5E5E5;
  }

  &__nav-link{
    color: $title-color;
    font-size: 11px;
    line-height: 30px;
    text-transform: uppercase;
    margin-left: 12px;
    cursor: pointer;
  }

  &__nav-link--home {
    color: $nav-home;
  }

}



//posts
.posts {
  margin-bottom: 30px;

  &__img {
    width: 100%;

  }
  &__title {
    color: $title-color;
    @include text-size14_22;
    font-weight: 700;

    padding-top: 38px;

  }

  &__cards-box {

  }

  &__card {
    margin-top: 23px;
    margin-bottom: 6px;

  }
}



.card{
  &__title {
    font-size: 14px;
    line-height: 30px;
    color: $title-color;
    font-weight: 700;

  }

  &__text-comments {
    font-size: 11px;
    line-height: 20px;
    color: #7C7C7C;
  }

  &__text {
    display: none;

    color: #5C5C5C;
    font-size: 14px;
    line-height: 26px;

  }
  &--last{
    display: none;
  }

}






//footer

.contacts {
  @include flex-column;
  justify-content: center;
  align-items: center;
  background: $background-footer;

  &__title {
    color: #FEFEFE;
    @include text-size14_22;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 38px;
    padding-bottom: 8px;

  }
  &__text {
    display: flex;
    text-align: center;
    color: #B9B9B9;
    font-size: 12px;
    line-height: 20px;
    margin: 0 35px;

  }
  &__icons {
    margin: 25px 0;

  }

  &__info {
    @include flex-column;
    text-align: center;
    color: #B9B9B9;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 50px;
  }
}

.contacts__icons>img {
  width: 34px;
  height: 34px;
}
//*********************************************

@media (min-width: $tablet) {

  .header {
    &__nav {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      position: static;

    }
    &__button {
      display: none;
    }

    &__nav-item {
      background: transparent;
      margin: 42px 0;
    }

    &__nav-link {

    }
  }

  .posts{
    &__title{
      font-size: 16px;
      line-height: 22px;
    }
  }


  .card {
    display: flex;

    &__title {
      font-size: 16px;
    }

    &__info {
      margin-left: 20px;
    }

    &__text {
      display: flex;
    }

    &--last {
      display: flex;

    }
  }

  .contacts {
    &__title {
      font-size: 16px;
    }
    &__text{
      width: 684px;
      font-size: 16px;
      line-height: 28px;
    }
    &__info {
      flex-direction: row;
      font-size: 16px;
      line-height: 26px;
    }
  }
}

@media (min-width: $desktop) {
  .posts{
    &__cards-box {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
  }
}