// COLORS

$title-color: #4E4E4E;
$background-nav: #F5F5F5;
$nav-home: #57A4A4;
$background-footer: #000;

// TEXT-SIZE
$mobile-text: 14px;
$desktop-text: 16px;

// BREAKPOINTS

$tablet: 768px;
$desktop: 1200px;
