.cardWrapper {
  width: 250px;
  margin: 15px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.favourites {}

.name {
  font-size: 20px;
  font-weight: bold;
}

.img {
  width: 170px;
  height: 170px;
}

.price {
  font-weight: bold;
  margin: 15px;
}

.colorProduct, .code {
  margin: 3px;
  font-size: 12px;
}

.buttonAdd {
  margin: 5px;
}

.svg {

}
