
/*COMMON STYLE*/
.wrapper {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/*HEADER STYLE*/
.container {
    margin: 0 auto;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(49, 49, 49, 1);
}

.navigation-logo{
    display: flex;
    align-items: center

}

.navigation-logo-img{
  padding: 22px 27px 21px 27px;
}

.navigation-logo-title{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    margin: 22px 0;
}

.navigation-menu{
    display: flex;
}

.navigation-menu-item{
    justify-content: center;
}

.navigation-menu-link{
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 20px;
    padding: 28px 18px 26px 18px;
}

.home{
    color: #14B9D5;
}

.navigation-menu-search{
    padding: 26px 27px;
    background: rgba(0, 0, 0, 1);
    margin-left: 137px;
}

/*MAIN STYLE*/
/*section latest news*/
.latest-news{
    background-image: url("../img/header-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat

}

.content-title {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 27px;
    line-height: 37px;
    padding-top: 160px;
}

.latest-news-menu{
    display: flex;
    justify-content: center;
}
.latest-news-items{
    background-color: #14B9D5;
    border-radius: 4px;
    padding-top: 16px;
    padding-bottom: 17px;
    margin-top: 44px;
    margin-bottom: 70px;
    width: 170px;
}

.subscribe{
    background-color: #89CA62;
    margin-right: 20px;
;
}
.latest-news-link{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 25px;

}
/*section popular posts*/

.popular-posts{
    background: #F2F2F2;
    margin: 0 auto;

}

.content-subtitle{
    color: #18B4CF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    padding-top: 49px;
    margin-bottom: 52px;
}

.blog-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    max-height: 898px;
    column-gap: 15px;
    row-gap: 30px;
    margin: 0 365px;
    padding-bottom: 72px;
}

.blog-card{
    margin: 0 auto;
    width: 370px;
}

.blog-card-text {
    color: #353A3D;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 22px;

}


