*{
    margin: 20px;
}

.number{
    color: black;
    border: 2px solid #39bf15;
}
.numberInvalid{
    display: block;
    border: 2px solid red;
}
.error{
    display: none;
}

.errorText{
    color: red;
}

.text{
    color: #39bf15;
}