
html, body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.title {
    text-decoration: none;
}

.navigation{
    display: inline-block;
}

.navigation-item {
    text-decoration: none;
    background: #35444F;
    color: #FFFFFF;
}
.navigation-menu{
    display: flex;
    align-items: flex-start;
    text-align: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;

.sidebar-box {
    border: 1px solid black;
    width: 345px;
    height: 400px;

}

.sidebar {
    list-style: none;
}

.sidebar-position {
    text-decoration: none;
    color: #495863;
}

.footer-position{
    text-decoration: none;
    color: #495863;
}

.picture{

}

.picture-box{
    border: 1px solid black;
    height: 530px;
}

.content-box{
    width: 885px;
}


}

.container {
    width: 1280px;

}

.information{
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}
